<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="../assets/Images/icon.png" type="image/png" />

    <link rel="stylesheet" href="/css/layout.css">

    <%- style %>

</head>

<body>

    <%- include('_header'); %>

        <%- body %>

            <%- include('_footer'); %>

                <%- script %>
</body>

</html>